body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #232b30;
  color: white;
  overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
}

* {
  user-select: none;
  margin: 0;
  padding: 0;
}

.selected {
  color: white;
  background: black !important;
}
